# Node / Angular build
node_modules/
dist/
.angular/
out-tsc/
bazel-out/
tmp/
.bazel-out/

# Cache & coverage
/.angular/cache
coverage/
.history/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# SO
.DS_Store
Thumbs.db

# Env
.env
*.local

# IMPORTANTE: generado en build y contiene claves
src/environments/environment.prod.ts
src/environments/environment.prod.ts
src/environments/environment.prod.ts
/src/environments
